# macOS
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon?
._*

# Thumbnails
Thumbs.db

# macOS system files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

__pycache__/

amiga/whdload4uae4arm/db/
amiga/whdload4uae4arm/expand/
amiga/whdload4uae4arm/lha/
amiga/whdload4uae4arm/roms/
amiga/whdload4uae4arm/system_base/
!whdload4uae4arm/system_base/S/Startup_Sequence

pinn/
